<div class="row" style="background: #ffffff73">

<nav aria-label="breadcrumb" class="col-md-12">
  <!--MIGAS DE PAN-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" style="color: #ff8000;">Inicio</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/home/catalogo']" style="color: #ff8000;">Catálogo</a></li>
    <li class="breadcrumb-item active" style="color: #ff0000">{{productService.products[0].categoria}}</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of productService.products">
      <div class="card" style="margin-bottom: 20px" >
        <a (click)="redireccionProducto(product.id)"><img [src]="product.imagen" class="card-img-top" height=300> </a>
        <div class="card-body">
            <a (click)="redireccionProducto(product.id)"> <h5 class="card-title">{{product.nombre}}</h5></a>
          <div class="row">
              <a (click)="redireccionProducto(product.id)"> <div class="col">
              <p class="card-text">{{product.precio | currency:'$':'symbol-narrow':'2.0-3'}}</p>
            </div></a>
            <div class="col">
              <a  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
                  (click)="productService.agregarProducto(product)" id="boton"> Agregar a la bolsa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal  [routerLink]="['/home/bolsa']"-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">¿Quiere Seguir comprando?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">        
          <h6>Su producto ha sido agregado a la bolsa</h6>        
        </div>
        <div class="modal-footer">     
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Seguir Comprando</button>
            &nbsp;
            <button [routerLink]="['/home/bolsa']" type="button" class="btn btn-primary" data-dismiss="modal">Ir a la bolsa</button>
       
          
        </div>
      </div>
    </div>
  </div>
