<nav aria-label="breadcrumb">
  <!--MIGAS DE PAN-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" style="color: #ff8000;">Inicio</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/home/catalogo']" style="color: #ff8000;">Catálogo</a></li>
    <li class="breadcrumb-item active" style="color: #ff0000">{{productService.products[0].categoria}}</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of productService.products">
      <div class="card">
        <a (click)="redireccionProducto(product.id)"><img [src]="product.imagen" class="card-img-top" height=300> </a>
        <div class="card-body">
            <a (click)="redireccionProducto(product.id)"> <h5 class="card-title">{{product.nombre}}</h5></a>
          <div class="row">
              <a (click)="redireccionProducto(product.id)"> <div class="col">
              <p class="card-text">{{product.precio | currency:'$':'symbol-narrow':'2.0-3'}}</p>
            </div></a>
            <div class="col">
              <a  class="btn btn-primary" [routerLink]="['/home/bolsa']" 
                  (click)="productService.agregarProducto(product)" id="boton"> Agregar a la bolsa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>