<!-- Footer -->
<footer class="breadcrumb  sticky-footer">
  <div class="container">
    <div class="footer-copyright " >
      <h5> <b>© 2019 Copyright Hey Canito!</b> </h5>
      <h6 style="color: maroon"> Dirección: Av Andres Bello #700, Chillán</h6>
      <h6 style="color: maroon"> Contacto: 42-2 830097</h6>
      
      <div>
        <!--Facebook-->
        <a class="btn-lg btn-ins" role="button"  href="https://www.facebook.com/pasteleriaCanito" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <!--Instagram-->
        <a class="btn-lg btn-ins" role="button" href="https://www.instagram.com/pasteleriacanito" target="_blank"><i class="fab fa-instagram"></i></a>
        <!--Google Maps-->
        <a class="btn-lg btn-ins" role="button" href="https://goo.gl/maps/UjgW9syT6a441Cfz9" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
      </div>
      
    </div>
  </div>
</footer>
<!-- Footer -->