<nav aria-label="breadcrumb">
  <!--MIGAS DE PAN-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" style="color: #ff8000;">Inicio</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/home/bolsa']" style="color: #ff8000;">Bolsa</a></li>
    <li class="breadcrumb-item active" style="color: #ff0000">Generar Pedido</li>
  </ol>
</nav>
<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2 block ">
    <div class="wrapper-progressBar">
      <ul class="progressBar">
        <li class="active">Bolsa de Compras</li>
        <li>Generado</li>
        <li>Aprobado</li>
        <li>Listo para entrega</li>
        <li>Entregado</li>
      </ul>
    </div>
  </div>
</div>
