<nav aria-label="breadcrumb">
  <!--MIGAS DE PAN-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" href="#" style="color: #ff8000;">Inicio</a></li>
    <li class="breadcrumb-item active" style="color: #ff0000;">Catálogo</li>
  </ol>
</nav>
<!--FIN MIGAS DE PAN-->

    <section class="tortasCat">      
     <div class="container text-center " style="text-align: center">
      <h1 class="px-auto" style="font-size: 5rem"><b> Tortas</b></h1>
    </div>  
    </section>

    <section class="empanadasCat">
      <div class="container text-center " style="text-align: center ">
        <h1 class="px-auto" style="font-size: 5rem"><b> Empanadas</b></h1>
      </div>
    </section>

    <section class="panCat">
      <div class="container text-center " style="text-align: center">
        <h1 class="px-auto" style="font-size: 5rem"><b> Panaderia</b></h1>
      </div>
    </section>
  <br>
