<nav aria-label="breadcrumb">
  <!--MIGAS DE PAN-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">style="color: #ff8000;">Inicio</a></li>
    <li class="breadcrumb-item active" style="color: #ff0000;">Catálogo</li>
  </ol>
</nav>
<!--FIN MIGAS DE PAN-->

<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/many-cakes-prepared-metal-table-food-factory-different-137138978.jpg" class="card-img-top"
          height=300>
        <div class="card-body">
          <h3 class="card-title " style="text-align: center; font-family: 'Times New Roman', Times, serif">Tortas</h3>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/empanadas.jpg" class="card-img-top" height=300>
        <div class="card-body">
          <h3 class="card-title" style="text-align: center; font-family: 'Times New Roman', Times, serif">Empanadas</h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/panes.jpg" class="card-img-top" height=300>
        <div class="card-body">
          <h3 class="card-title" style="text-align: center; font-family: 'Times New Roman', Times, serif">Panaderia</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>