<nav aria-label="breadcrumb">
  <!--MIGAS DE PAN-->
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><span style="color: #ff8000;">Inicio</span></a></li>
    <li class="breadcrumb-item active" style="color: #ff0000;"><span>Catálogo</span></li>
  </ol>
</nav>
<!--FIN MIGAS DE PAN-->
<div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-4 d-flex flex-column flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center flex-wrap">
        <img class="img-fluid align-items-center align-content-center"
             src="../assets/many-cakes-prepared-metal-table-food-factory-different-137138978.jpg"
             style="height: 230px;">
        <a href="" 
           style="color: #000000;font-size: 30px;font-family: 'Playfair Display', serif;">Tortas</a>
      </div>
      <div
        class="col-md-4 d-flex flex-column flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center flex-wrap">
        <img class="img-fluid align-items-center align-content-center" 
             src="../assets/empanadas.jpg"
             style="height: 230px;">
        <a href=""
           style="color: #000000;font-size: 30px;font-family: 'Playfair Display', serif;">Empanadas</a>
      </div>
      <div
        class="col-md-4 d-flex d-xl-flex flex-column flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap justify-content-xl-center">
        <img class="img-fluid align-items-center align-content-center" 
             src="../assets/panes.jpg"  
             style="height: 230px;">
        <a href=""
           style="color: #000000;font-size: 30px;font-family: 'Playfair Display', serif;">Panes</a>
     </div>
    </div>