&nbsp;&nbsp;
<body>
  <div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 style="width: 343px;">Lista de Productos</h2><!--lala-->
            </div>          
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <button class="btn btn-primary d-flex align-items-center align-self-center" 
              [routerLink]="['/administrador/registrarProductos']" routerLinkActive="router-link-active"  
              type="button" style="height: 38px;background-color: rgb(21,221,4);">Agregar Producto 
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
        </div>&nbsp;
        <div class="row">
            <div class="col-md-12">
                <table id="example" class="table table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Torta Mil Hojas</td>
                            <td>Pasteles</td>
                            <td>23.500</td>
                            <td>
                                <button type="button" class="btn btn-danger">
                                  <i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                  </i>
                                </button>&nbsp;
                                <button type="button" class="btn btn-warning">
                                  <i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                  </i>
                                </button>
                              </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Torta Mil Hojas</td>
                            <td>Pasteles</td>
                            <td>23.500</td>
                            <td>
                              <button type="button" class="btn btn-danger">
                                <i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                </i>
                              </button>&nbsp;
                              <button type="button" class="btn btn-warning">
                                <i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                </i>
                              </button>
                            </td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Torta Mil Hojas</td>
                            <td>Pasteles</td>
                            <td>23.500</td>
                            <td>
                                <button type="button" class="btn btn-danger">
                                  <i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                  </i>
                                </button>&nbsp;
                                <button type="button" class="btn btn-warning">
                                  <i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                  </i>
                                </button>
                              </td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Torta Mil Hojas</td>
                            <td>Pasteles</td>
                            <td>23.500</td>
                            <td>
                                <button type="button" class="btn btn-danger">
                                  <i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                  </i>
                                </button>&nbsp;
                                <button type="button" class="btn btn-warning">
                                  <i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center">
                                  </i>
                                </button>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>  
</body>

