<!--MIGAS DE PAN-->
<nav aria-label="breadcrumb ">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" href="#" style="color: #ff8000;">Inicio</a></li>
    <li class="breadcrumb-item active" style="color: #ff0000;">Mis pedidos</li>
  </ol>
</nav>
<!--FIN MIGAS DE PAN-->
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 style="width: 343px;">Mis pedidos</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="example" class="table table-striped table-bordered" width="100%">
            <thead>
              <tr style="text-align: center">
                <th style="vertical-align: middle">N°</th>
                <th style="vertical-align: middle">Nombre Cliente</th>
                <th style="vertical-align: middle">Estado</th>
                <th style="vertical-align: middle">Pago</th>
                <th style="vertical-align: middle">Entrega</th>
                <th style="vertical-align: middle">Valor</th>
                <th style="vertical-align: middle">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ped of this.productoService.pedido" style="text-align: center">
                <td style="vertical-align: middle">{{ped.id}}</td>
                <td style="vertical-align: middle">{{ped.nombre}}</td>
                <td style="vertical-align: middle">{{ped.estado}} </td>
                <td style="vertical-align: middle">{{ped.metodo_pago}}</td>
                <td style="vertical-align: middle">{{ped.modo_entrega}}</td>
                <td style="vertical-align: middle">{{ped.valor_total }}</td>
                <td style="vertical-align: middle">
                  <div style="width: 100%">
                    <button type="button" class="btn btn-warning" [routerLink]="['/home/pedido',ped.id]">
                      <i class="fas fa-info-circle d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

