<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="d-xl-flex justify-content-xl-center" style="margin: 42px;"><img
          src="https://scontent.fpmc1-1.fna.fbcdn.net/v/t1.0-9/66209556_10220005048936664_1558829852910419968_n.jpg?_nc_cat=109&_nc_oc=AQkn9yWaaTgF_Kq2o_RoO5uIhKi3idgYHql2oQhLdTLBp2QYvn5znUv-xK7tEbKZDJk&_nc_ht=scontent.fpmc1-1.fna&oh=d8dbdb26224f01564382a585d3129061&oe=5DB1E4AE" />
      </div>
      <hr style="width: 100%;margin-bottom: 3px;margin-top: 0px;" />
      <div class="login-box-header">
        <h4 align="center"
          style="color: rgb(139,139,139);margin-bottom: 0px;font-weight: 400;font-size: 27px;font-family: 'Playfair Display', serif;">
          Registrate Aqui</h4>&nbsp;

        <form [formGroup]="Registroform" (ngSubmit)="saveCliente()" novalidate>
          <div class="row">
            <div class="col-md-6">
              <!--Nombre producto-->
              <div class="form-group">
                <h6 for="nombreProducto">Nombre </h6>
                <input formControlName="nombre" class="form-control" type="text" placeholder="Ingrese nombre ">
              </div>
            </div>
            <div class="col-md-6">
              <!--Nombre producto-->
              <div class="form-group">
                <h6 for="nombreProducto">Rut</h6>
                <input formControlName="rut" class="form-control" type="text" placeholder="Ingrese apellido paterno">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!--Nombre producto-->
              <div class="form-group">
                <h6 for="nombreProducto">Apellido Paterno </h6>
                <input formControlName="apellido_paterno" class="form-control" type="text"
                  placeholder="Ingrese Apellido Paterno">
              </div>
            </div>
            <div class="col-md-6">
              <!--Nombre producto-->
              <div class="form-group">
                <h6 for="nombreProducto">Apellido Materno</h6>
                <input formControlName="apellido_materno" class="form-control" type="text"
                  placeholder="Ingrese Apellido Materno">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!--Nombre producto-->
              <div class="form-group">
                <h6 for="nombreProducto">Email</h6>
                <input formControlName="email" class="form-control" type="text" placeholder="Ingrese Email">
              </div>
            </div>
            <div class="col-md-6">
              <!--Nombre producto-->
              <div class="form-group">
                <h6 for="nombreProducto">Contraseña</h6>
                <input formControlName="contraseña" class="form-control" type="text" placeholder="Ingrese Contraseña">
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="col-md-12" style="text-align: center">
            <button class="btn btn-danger botones" style="background: #ff0000"> Cancelar </button>
            &nbsp;
            <button type="submit" (submit)="saveCliente()" class="btn btn-warning botones" style="background: #ff8800">
              Registrar
            </button>
          </div>
          <!--Fin Botones-->

        </form>&nbsp;
      </div>
      <br><br>
    </div>

  </div>

</div>