<div style="background: #ffffff73; padding-bottom: 5%">

  <!--MIGAS DE PAN-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']" style="color: #ff8000;">Inicio</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/home/catalogo']" style="color: #ff8000;">Catálogo</a></li>
      <li class="breadcrumb-item active" style="color: #ff0000">Ver Pedido</li>
    </ol>
  </nav>
  <!--FIN MIGAS DE PAN-->
  <div class="container" *ngIf="this.productService.pedido"
    style="padding-top: 20px; background: white; padding-bottom: 20px">
    <!--STEPPER-->
    <div class="row" *ngIf="this.productService.pedido">
      <div class="col-xs-12 col-md-8 offset-md-2 block ">
        <div class="wrapper-progressBar">
          <ul *ngIf="this.productService.pedido[0].estado != 'Cancelado'" class="progressBar">
            <li *ngFor="let est of estados; let i = index" [ngClass]="clases[i]">{{est}}</li>
          </ul>
          <ul *ngIf=" this.productService.pedido[0].estado == 'Cancelado'" class="progressBarCancel">
            <li class='active'>Bolsa de Compras</li>
            <li class='active'>Generado</li>
            <li class='cancel'>Cancelado</li>

          </ul>
        </div>
      </div>
    </div>
    <!--FIN STEPPER-->

    <!-- DATOS CLIENTE/PEDIDO-->

    <hr>
    <h2>Mi pedido</h2>
    <div class="row">

      <div class="col-md-6">
        <h6 clas="form">Nombre</h6>
        <input class="form-control" type="text" placeholder="Ingrese nombre" [disabled]="true"
          value="{{this.productService.pedido[0].nombre}}">
      </div>

      <div class="col-md-3">
        <h6>Rut</h6>
        <input class="form-control" type="text" maxlength="12" placeholder="19.600.500-7" [disabled]="true"
          value="{{this.productService.pedido[0].rut}}">

      </div>

      <div class="col-md-3">
        <h6>Teléfono</h6>
        <input class="form-control" type="text" length="9" placeholder="987654321" [disabled]="true">

      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h6>Correo electrónico</h6>
        <input class="form-control" type="text" length="9" placeholder="example@mail.com" [disabled]="true"
          value="{{this.productService.pedido[0].mail}}">

        <!--</form>-->
      </div>



      <div class="col-md-4">
        <!--Seleccionar metodo pago-->
        <h6>Método de pago</h6>
        <input class="form-control" type="text" length="9" placeholder="example@mail.com" [disabled]="true"
          value="{{this.productService.pedido[0].metodo_pago | titlecase }}">

        <!--Fin seleccionar metodo pago-->
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <!--modo de  entrega-->
        <div class="form-group">
          <h6>Modo de entrega</h6>
          <input class="form-control" type="text" length="9" placeholder="example@mail.com" [disabled]="true"
            value="{{this.productService.pedido[0].modo_entrega | titlecase}}">

        </div>
        <!--Fin metodo entrega-->
      </div>
      <div *ngIf="this.productService.pedido[0].modo_entrega=='despacho domicilio'" class="col-md-8">
        <!-- Direccion-->
        <h6 for="direccion">Dirección</h6>
        <input class="form-control" type="text" placeholder="Ingrese dirección " [disabled]="true"
          value="{{this.productService.pedido[0].direccion}}">
        <!--Fin Direccion-->
      </div>
      <!--Fin metodo entrega-->
    </div>

    <div *ngIf="this.productService.pedido[0].modo_entrega=='despacho domicilio'" class="col-md-8">
      <!-- Direccion-->
      <h6 for="direccion">Dirección</h6>
      <input class="form-control" type="text" placeholder="Ingrese dirección " [disabled]="true"
        value="{{this.productService.pedido[0].direccion}}">
      <!--Fin Direccion-->
    </div>
    <!--</form>-->

    <!--TABLA de Productos-->
    <div class="container" *ngIf="this.productService.pedido">
      <hr>
      <h2>Productos incluídos en el pedido</h2>
      <div class="row">
        <table id="example" class="table table-striped table-bordered" width="100%">
          <thead>
            <tr style="text-align: center">
              <th style="vertical-align: middle">#</th>
              <th style="vertical-align: middle">Producto</th>
              <th style="vertical-align: middle">Precio</th>

            </tr>
          </thead>
          <tbody *ngFor="let products of this.productService.products; let i=index">
            <tr style="text-align: center">
              <td style="vertical-align: middle">{{i+1}}</td>
              <td style="vertical-align: middle">{{products.nombre}}</td>
              <td style="vertical-align: middle">{{products.precio}} </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!--</form>-->
</div>