
.fondoHome{
  background-image: url('https://scontent.fscl12-1.fna.fbcdn.net/v/t1.0-9/67402580_10220173279542324_5664494167531716608_o.jpg?_nc_cat=110&_nc_oc=AQmjVDIVf4DubEp-wH6XYZAbRfXjTDAmBBbVLpbxljTlAiNmj0WrwZm9tagrgK-68f0&_nc_ht=scontent.fscl12-1.fna&oh=1c0026b70754fd85f3a29c13cf20ceb4&oe=5DDD89EF');
      background-size: 100% 100%;
    background-repeat: no-repeat;
  }