<div style="background: #ffffff73; padding-bottom: 5%">
<nav aria-label="breadcrumb">
    <!--MIGAS DE PAN-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']" style="color: #ff8000;">Inicio</a></li>
      <li class="breadcrumb-item active" style="color: #ff0000">Error</li>
    </ol>
  </nav>
  <!--FIN MIGAS DE PAN-->
<div>
    <div class="container" style="padding-top: 20px; background: white; padding-bottom: 20px">
        <div class="row">
            <div class="col-md-6 text-center"><img src="..\assets\_mlp_resources__sad_cake_by_pink1ejack_db6qcxh-pre.png" style="width: 264px;height: 262px;margin: 25px;"></div>
            <div class="col-md-6"  >
                <em>
                <h1>¡¡Vaya!!<br><br></h1>
                <h1 class="h3">La página que buscas no se encuentra <br><br></h1>
                <h1 class="h5">Puedes ponerte en contacto con nosotros: <br>- Teléfono : 422830097 <br>- Dirección : Av Andrés Bello 700, Chillán.</h1>
                </em>
            </div>
        </div>
    </div>
</div>
</div>